target/
*.class
*.jar
*.war
*.ear
data/
*.mv.db
*.trace.db
.mvn/wrapper/maven-wrapper.jar
.idea/
*.iml
*.iws
.project
.classpath
.settings/
.springBeans
.sts4-cache
.vscode/
*.log
application-local.properties
